<h1>would you like to sign up as:</h1>


<%= link_to 'Sign up as Instructor', new_instructor_path %>

<%= link_to 'Sign up as Athlete', new_customer_path %>
<br><br>
<hr>

<%= link_to 'Go back', root_path %>
