<div class="text-center">

<h1>Sign up <h1>

  <br>
  <div class="row">
    <div class="col">

      <a href="/instructors/new">
        <img src="https://awo.aws.org/wp-content/uploads/2016/08/Instructor-icon.png" alt="instructor" style="width:100%;height:100%;">

        <%= link_to 'New Instructor', new_instructor_path %>

      </a>

  </div>
    <div class="col">

      <a href="/customers/new">
        <img src="http://www.tailormadenutrition.com/images/tailor_made/onlinestore-athlete-icon.png" alt="instructor" style="width:100%;height:100%;">

        <%= link_to 'New Athlete', new_customer_path %>


      </a>

    </div>
  </div>
</div>
