<h1>would you like to sign up as:</h1>
<hr>

<%= link_to 'Sign up as Instructor', new_instructor_path %>

<%= link_to 'Sign up as Athlete', new_customer_path %>

<hr>

<%= link_to 'Go back', root_path %>
