
<h1 class="text-center">Sign up

  <br>
  <br>
    <div class="col-md-6">

      <a href="/instructors/new">
        <img src="https://awo.aws.org/wp-content/uploads/2016/08/Instructor-icon.png" alt="instructor" style="width:70%;height:70%;">
        <br>
        <br>
        <%= link_to 'New Instructor', new_instructor_path %>

      </a>

  </div>
    <div class="col-md-6">

      <a href="/customers/new">
        <img src="http://www.tailormadenutrition.com/images/tailor_made/onlinestore-athlete-icon.png" alt="instructor" style="width:70%;height:70%;">
        <br>
        <br>
        <%= link_to 'New Athlete', new_customer_path %>


      </a>

    </div>
</h1>
